.content-form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.input-control {
    width: 350px;
}

.error {
    font-size: 14px;
    color: red;
}

label {
    font-weight: 700;
}